@function pxToRem($pxValue) {
  @return ($pxValue / 16) + rem;
}
$primary: #ff6000;
$secondary: #484848;

.productCardWrapper {
  .imageWrapper {
    border-radius: 4px;
    border: 1px solid#E5E5E5;
  }
}
