@function pxToRem($pxValue) {
  @return ($pxValue / 16) + rem;
}
$primary: #ff6000;
$secondary: #484848;

.headerWrapper {
  padding: pxToRem(25) pxToRem(80);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
