@function pxToRem($pxValue) {
  @return ($pxValue / 16) + rem;
}
$primary: #ff6000;
$secondary: #484848;

.headerWrapper {
  padding: pxToRem(25) pxToRem(80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}
