@function pxToRem($pxValue) {
  @return ($pxValue / 16) + rem;
}
$primary: #ff6000;
$secondary: #484848;

.cartWrapper {
  .cartButton {
    padding: pxToRem(12) pxToRem(32);
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    background-color: transparent;
    color: #b0b0b0;
    font-size: pxToRem(17);
    font-weight: lighter;
    position: relative;
    &:hover{
      cursor: pointer;
    }
    .notification {
      position: absolute;
      right: pxToRem(-8);
      top: pxToRem(-8);
      background-color: #ff6000;
      border-radius: 20px;
      font-size: pxToRem(12);
      width: pxToRem(20);
      height: pxToRem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }
}
