@function pxToRem($pxValue) {
  @return ($pxValue / 16) + rem;
}
$primary: #ff6000;
$secondary: #484848;
.container {
  padding: pxToRem(25) pxToRem(80);
  .content{
    display: flex;
    width: 100%;
  }
}
